.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border: 2px solid lightsteelblue;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}

.grid-child {
    background-color: #333;
    border-radius: 5px;
    padding-left: 10px;
}

h1{
    text-align: center;
    color:white;
}