body{
    background-color: #2C3531;
}

.container{
    text-align: center;
}

table{
    display: inline-block;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #D9B08C;
}

th{
    font-size: 34px;
    color:#116466;
}

td{
    font-size: 32px;
    background-color: #D1E8E2;
    border-radius: 10px;
    padding-inline: 10px;
}

td:hover{
    background-color: #FFCB9A;
}